html{box-sizing:border-box;}
*,*::before,*::after{box-sizing:inherit;}

:root{
  --background-color: #fff;
  --text-color:black;
  --title-color:black;
}
.light-theme{
   --background-color: #fff;
  --text-color:black;
  --title-color:black;
}
.dark-theme{
   --background-color: rgb(87, 85, 85);
  --text-color:rgb(255, 255, 255);
  --title-color:rgb(235, 97, 97);
}
body {
  margin: 0;
  padding: 0;
  outline:2px solid blue;
  font-family: monospace;
  background-color: var(--background-color);
  color: var(--text-color);
 min-height: 100vh;
 transition: all 0.7s ease;
}
h1,h2{
  margin: 0;
  color: var(--title-color);
   /* transition: all 0.7s ease; */
}
